div.head-header {
  /*margin-top: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;*/
}


.navbar-fixed {
  position: fixed;
  top: 0;
}

.filters {
  margin-left: 20px;
  margin-top: 0px;
  width: 20%;
  position: fixed;
  height: 100%;
}

.filters h5 {
  text-transform: uppercase;
}

.ingredients {
  margin-top: 1em;
}

.sidebar-header {
    text-transform: uppercase;
    font-weight: bold;
    color: #795548;
}

div._section {
  margin-top:20px;
}

span.recipeTime {
  margin-left:10px;
}

div.collection {
  overflow: auto;
  height: 100%;
  border-style: none;
}

.card {
  box-shadow: none;
  border: solid 1px #DDDDDD;
  cursor: pointer;
  transition: background 0.5s;

}

.star {
  font-size:150%;
  color: gold;
}

.card-content {

  padding-bottom: 30px;
}

.card:hover {
  cursor: pointer;
}

.card-image {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.card-image:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

div.content {
  margin-right: 0;
  max-width: 1500px;
}
