.navbar-fixed {
  position: fixed;
  top: 0;
}

div.results {
	margin-left: 0;
	margin-top:0%;
	width : 16%;
	position : absolute;
}

span.recipeTime {
  margin-left:10px;
}

div.collection {
  overflow: auto;
  height: 100%;
  border-style: none;
}

.card {
  box-shadow: none;
  border: solid 1px #DDDDDD;
  cursor: pointer;
  transition: background 0.5s;

}

.star {
  font-size:150%;
  color: gold;
}

.card-content {

  padding-bottom: 30px;
}

.card:hover {
  cursor: pointer;
}

.card-image {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.card-image:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
