div.container form {
margin-top: 100px;
}

div.results {
	margin-left: 0;
	margin-top:0%;
	width : 16%;
	position : absolute;
}

div.page{
	margin-left: 16%;
}

/*.life-container {
	background: #3FA0E1;
	border-radius: 30px 30px 30px 30px;
	padding: .5em;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
	margin-left: 10px;
}


input[type="search"] {
	border-radius: 30px 30px 30px 30px;
	box-shadow: 2px 2px 5px #888888;
	border-style: solid;
	border-width: thin;
	border-color: grey;
	text-indent: 30px;
}*/

div#checkboxes {
	margin-bottom:20px;
	margin-left:20px;
}

div#checkboxes span {
	margin-right:20px;
}

#ingredientForm {
	/*margin-top : 70px;*/
margin-top:130px;
}

div.collection {
	margin-top:0;
  overflow: auto;
  min-height: 500px;
	max-height: 800px;
	border-style: none;
	border-right-style: solid;
}

div.collection a {
	cursor: pointer;
}

.star {
  font-size:150%;
  color: gold;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.images{
	font-size: 150%;
	line-height: 3em;
	padding-top: 5px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}

.parallax-container {
      max-height: 330px;
			margin-left: auto;
			margin-right: auto;
}
