<!--The content below is only a placeholder and can be replaced.-->

	<nav class="waves-effect waves-light teal">
	    <div class="nav-wrapper">
	      <a class="brand-logo right" routerLink="#">Vide Frigo</a>
	      <!--<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      --><ul class="left hide-on-med-and-down">
	        <li><a routerLink="#">Home</a></li>
	        <li *ngIf='!auth.isLoggedIn()'><a routerLink="login">Login</a></li>
					<li *ngIf='auth.isLoggedIn()'><a (click)='logout()'>Sign out</a></li>
	        <li *ngIf='!auth.isLoggedIn()'><a routerLink="signup">Register</a></li>
					<li *ngIf='auth.isLoggedIn()'><a routerLink="profile">Profile</a></li>
					<li  *ngIf='auth.isLoggedIn()'>
						<a>Welcome {{userName()}} !</a>
					</li>
	      </ul>
	    </div>
	  </nav>



<router-outlet></router-outlet>
