<!--The content below is only a placeholder and can be replaced.-->

	<nav class="waves-effect waves-light lime lighten-4">
	    <div class="nav-wrapper">
	      <a class="brand-logo right brown-text" routerLink="#">Vide Frigo</a>
	      <!--<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      --><ul class="left hide-on-med-and-down">
	        <li><a routerLink="" class="brown-text"><i class="material-icons left">home</i><span id="home">Home</span> </a> </li>
	        <li *ngIf='!auth.isLoggedIn()'><a routerLink="login" class="brown-text"><i class="material-icons left">fingerprint</i> <span id="login">Login</span> </a> </li>
					<li *ngIf='auth.isLoggedIn()'><a class="brown-text" (click)='logout()'> <i class="material-icons left">power_settings_new</i><span id="logout">Sign out</span> </a></li>
	        <li *ngIf='!auth.isLoggedIn()'><a routerLink="signup" class="brown-text"> <i class="material-icons left">control_point</i><span id="signup">Register</span> </a></li>
					<li *ngIf='auth.isLoggedIn()'><a routerLink="profile" class="brown-text"> <i class="material-icons left">account_box</i><span id="profile">{{userName()}} profile</span></a></li>
					<li *ngIf='auth.isLoggedIn()'><a routerLink="addrecipe" class="brown-text"> <i class="material-icons left">local_dining</i><span id="addrecipe">Add a recipe</span></a></li>
	      </ul>
	    </div>
	  </nav>



<router-outlet></router-outlet>
