<!---page profile-->
<div *ngIf="section===1">
<div class="row center-align">
<div class="col s1"></div>
<div class="col s8">
	  <div class="section col s12">

	    <div>
	      <div class="card-image">
					<img *ngIf="user.picture != null" src="../../assets/profiles/{{user.picture}}" style="width: 200px;">
					<img *ngIf="user.picture == null" src="../../assets/images/defaultProfile.png">
	      </div>
				 <h4 class="header">{{user.name}}</h4>
				 <div class="card-action">
					 <a href="#">{{user.email}}</a>
				 </div>
	      <div class="card-stacked">
	        <div class="card-content">
						<p>{{user.description}}</p>
						  </div>
	      </div>
	    </div>
	  </div>

		  <div class="divider"></div>

<!--div class="data">Registration date : </div>
<div class="data">Number of posted recipe : </div>
<div class="data">Number of commented recipe : </div!-->

<div id="btns-profile">
	<div>
		<a id="favorites" class="waves-effect waves-light btn-large">Recettes favorites</a>
		<a id="owned" class="waves-effect waves-light btn-large">Recettes de {{user.name}}</a>
	</div>

</div>
</div>
</div>
</div>

<!--Edit profile-->
<div *ngIf="section===2">
	<p>edit</p>
</div>
<!--posted recipe-->
<div *ngIf="section===3">
	<div id="postedRecipes" class="results">
	<div class="center-align red-text" >
		<span>Sorry, you have not posted recipes </span>
	</div>

	<div class="row content">
		<div class="">
			<div class="card-container col s6" style="max-width:500px;" *ngFor="let item of recipeList; index as i; first as isFirst;">
				<div class="card action">
					<div class="card-image" (click)="loadRecipe(item)" [routerLink]="['/recipe',adapt(item.name)]" [queryParams]="{ recipe: item.id }">
						<img class="activator" src="../assets/images/nopicture.jpg">
					</div>
					<div class="divider"></div>
					<div class="card-content">
						<span class="card-title activator grey-text text-darken-4">more<i class="material-icons right">more_vert</i></span>
						<div class="rating">
							<span class="star">avis</span>
								<span class="recipeTime"><strong>Cooking time</strong> - 1H:20min</span>
								<span class="recipeTime"><strong>Preparation time</strong> - 00H:25</span>
						</div>
					</div>
					<div class="card-reveal">
						<span class="card-title grey-text text-darken-4">Steps<i class="material-icons right">close</i></span>
						<p>{{item.steps}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>


</div>

<!--favorites-->
<div *ngIf="section===4">
		<div id="favorites" class="results">
	  <div class="center-align red-text" >
	    <span>Sorry, you have not favorites</span>
	  </div>

	  <div class="row content">
	    <div class="">
	      <div class="card-container col s6" style="max-width:500px;" *ngFor="let item of recipeList; index as i; first as isFirst;">
	        <div class="card action">
	          <div class="card-image" (click)="loadRecipe(item)" [routerLink]="['/recipe',adapt(item.name)]" [queryParams]="{ recipe: item.id }">
	            <img class="activator" src="../assets/images/nopicture.jpg">
	          </div>
	          <div class="divider"></div>
	          <div class="card-content">
	            <span class="card-title activator grey-text text-darken-4">more<i class="material-icons right">more_vert</i></span>
	            <div class="rating">
	              <span class="star">avis</span>
	                <span class="recipeTime"><strong>Cooking time</strong> - 1H:20min</span>
	                <span class="recipeTime"><strong>Preparation time</strong> - 00H:25</span>
	            </div>
	          </div>
	          <div class="card-reveal">
	            <span class="card-title grey-text text-darken-4">Steps<i class="material-icons right">close</i></span>
	            <p>{{item.steps}}</p>
	          </div>
	        </div>
	      </div>
	    </div>
		</div>
	  </div>



</div>
<!--comments-->
<div *ngIf="section===5">
<div>
	<img align="center"  *ngIf="user.picture == null" src="../../assets/images/defaultProfile.png"style="width: 200px;"><!--TODO change-->
	<h4>AnnaChu	</h4>
	<p>comments</p>
</div>
</div>

<!--sidebar-->

<ul id="slide-out" class="side-nav fixed">
	<li><div class="user-view" style="min-height: 300px;" align="center">
		<div class="background center-align" >
			<img src="../../assets/images/fond.jpeg">
		</div>
		<img *ngIf="user.picture != null" src="../../assets/profiles/{{user.picture}}" style="width: 200px;">
		<img align="center"  *ngIf="user.picture == null" src="../../assets/images/defaultProfile.png"style="width: 200px;">
	</div>
<p class="center-align"><span class="teal-text"><span style="font-size:20px;">{{user.name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.email}}</span></p>
</li>
<li><div class="divider"></div></li>
<li (click)="section=1"><a><i class="material-icons prefix">account_circle</i><span>My page</span></a></li>
<li><div class="divider"></div></li>
<li (click)="section=2"><a><i class="material-icons left">create</i><span>Edit informations</span></a></li>
<li><div class="divider"></div></li>
		 <li (click)="section=3"><a><i class="material-icons prefix">room_service</i>Posted recipes </a></li>
		 <li><div class="divider"></div></li>
		 <li (click)="section=4"><a> <i class="material-icons prefix">star</i> Favorites recipes</a></li>
		 <li><div class="divider"></div></li>
		<li (click)="section=5"><a> <i class="material-icons prefix">message</i> Posted comments</a></li>
	 </ul>
	 <a href="#" data-activates="slide-out" class="button-collapse"></a>
