div.head-header {
	margin-top:2px;
	padding-top:10px;
padding-bottom:10px;
margin-bottom:20px;
}

div.head-header h3 {
	margin-left:20px;
}

#slide-out li {
	cursor:pointer;
}


/*.identity{
	margin-top:2%;
	margin-left:2%;
	display: inline-block;
	vertical-align:middle;
}
.about{
	border-width: 2px 0px 2px 0px;
	border-style : solid;
	border-color: solid;
	margin-top: 2%;
	margin-left:10%;
	padding-bottom:1%;
	width:80%;
	text-align:center;
	background-color: #72D0AC;
}

#btns-profile{
	margin-left:10%;
	padding-bottom:1%;
	width:80%;
	text-align:center;
}

.buttons-profile{
	padding-top:1%;
	display:inline-block;
	margin:2%;
}

.data{
  text-transform: uppercase;
  font-weight: bold;
}*/

#slide-out li div.divider {
	margin:0;
}

#slide-out li a {
	margin:0;
	height:60px;
}
