<!--The content below is only a placeholder and can be replaced.-->

	<nav class="grey">
	    <div class="nav-wrapper">
	      <a class="brand-logo">Vide Frigo</a>
	      <!--<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      --><ul class="right">
	        <li><a routerLink="" class="breadcrumb">Home</a></li>
	        <li><a routerLink="login" class="breadcrumb">Login</a></li>
	        <li><a routerLink="signup" class="breadcrumb">Register</a></li>
	      </ul>
	    </div>
	  </nav>



<router-outlet></router-outlet>
