<h2 class="header">Register form</h2>

<div class="row">
	<form class="col s12">
		<div class="row">
			<div class="input-field col s6">
				<input id="username" type="text" class="validate">
				<label for="username">Username</label>
			</div>
			<div class="input-field col s6">
				<input id="last_name" type="number" class="validate">
				<label for="last_name">Age</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="email" type="email" class="validate">
				<label for="email">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="password" type="password" class="validate">
				<label for="password">Password</label>
			</div>
			<div class="input-field col s6">
				<input id="password" type="password" class="validate">
				<label for="password">Confirm password</label>
			</div>
		</div>
		<div class = "row">
					 <label>Input image</label>
					 <div class = "file-field input-field">
							<div class = "btn">
								 <span>Image</span>
								 <input type = "file" />
							</div>

							<div class = "file-path-wrapper">
								 <input class = "file-path validate" type = "text"
										placeholder = "Upload profile image" />
							</div>
					 </div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<input type="submit" class="btn" value="Register">
						<input type="submit" class="btn" value="Back">
					</div>
				</div>
	</form>
</div>
