<div class="row" *ngFor="let favorite of favorites">

      <div class="col s4" >
        <div>
          {{favorite.picture}}
        </div>
       <a><span class="black-text "> {{favorite.name}}</span> </a>
      <a><span class="black-text "> Source: {{favorite.login}}</span> </a>
        </div>

</div>

<ul id="slide-out" class="side-nav fixed">
  <li><div class="user-view" style="min-height: 300px;" align="center">
  <div class="background center-align" >
    <img src="../../assets/images/fond.jpeg">
  </div>
  <img *ngIf="user.picture != null" src="../../assets/profiles/{{user.picture}}" style="width: 200px;">
  <img align="center"  *ngIf="user.picture == null" src="../../assets/images/defaultProfile.png"style="width: 200px;">
</div>
<p class="center-align"><span class="teal-text"><span style="font-size:20px;">{{user.name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.email}}</span></p>
</li>
<li><div class="divider"></div></li>
<li  (click)="myPage()"><a href="#!"><i class="material-icons prefix">account_circle</i><span>My page</span></a></li>
<li><div class="divider"></div></li>
<li (click)="editInformations()"><a href="#!"><i class="material-icons left">create</i><span>Edit informations</span></a></li>
<li><div class="divider"></div></li>
     <li (click)="postedRecipes()"><a href="#!"><i class="material-icons prefix">room_service</i>Posted recipes </a></li>
     <li><div class="divider"></div></li>
     <li class="teal lighten-2 active" (click)="favoritesRecipes()"><a href="#!"> <i class="material-icons prefix">star</i> Favorites recipes</a></li>
     <li><div class="divider"></div></li>
    <li (click)="postedComments()"><a href="#!"> <i class="material-icons prefix">message</i> Posted comments</a></li>
   </ul>
   <a href="#" data-activates="slide-out" class="button-collapse"></a>
